{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    {#TODO profile form #}
    <h1 class="text-center">Edit User</h1>

    <div class="container">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
