{% extends 'base.html.twig' %}
{% block body %}

<h1>Bedankt voor uw betaling!</h1>
<div>
    <p>
        Uw order nummer: {{ betaling.orderId }}
    </p>
    <p>
        Status: {{ betaling.status }}
    </p>
</div>
{% endblock %}