{% include 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Deze pagina bestaat niet</h1>
        <h3>Bedoelt u misschien de <a href="{{ path('product_overview') }}">homepage</a>?</h3>
    </div>
{% endblock %}
