<div class="col-md-3 ">
    <div class="list-group ">
        <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item list-group-item-action">Accountinformatie</a>
        <a href="#" class="list-group-item list-group-item-action">Adresboek</a>
        <a href="{{ path('factuur_index') }}" class="list-group-item list-group-item-action">Mijn bestellingen</a>
    </div>
</div>